export(generate_random_cluster_controls)
export(generate_sample_data)
export(cluster_trajectory_data)
export(extract_cluster_means)
export(fit_new_data)
importFrom("stats", "kmeans")
importFrom("utils", "data")
importFrom("MASS", "mvrnorm")
importFrom("Matrix", "t")
importFrom("Matrix", "as.matrix")
importFrom("Matrix", "Diagonal")
import(ggplot2)
import(purrr)
import(tibble)
import(dplyr)
import(tidyr)
import(stringr)
import(readr)
import(forcats)
import(magrittr)
import(tictoc)
import(emdbook)
import(bezier)
